# Rust / Cargo
/target
Cargo.lock

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project Specific
/rqs_lib/target
/vendor/*/target
.env

# Arch Linux
/pkg/
/src/sendfiles/
/src/sendfiles-debug/
/sendfiles/
*.pkg.tar.zst
*.pkg.tar.xz
*.src.tar.gz
